body {
    background-color: dimgrey;
    height: 100vh; /* Set the body height to 100% of the viewport height */
    margin: 0;
    display: flex;
    justify-content: center; /* Horizontally center content */
    align-items: center; /* Vertically center content */
}

#loading-bar {
    width: 200px; /* Set the width of the loading bar */
    height: 20px; /* Set the height of the loading bar */
    background-color: lightgray; /* Set the background color of the loading bar */
    margin-top: 20px; /* Set the top margin of the loading bar */
    animation: loading 2s linear forwards; /* Apply loading animation */
}

#loading-icon  img{
    /* Styling for your loading icon goes here */
    max-width: 200px; /* Limit the maximum width to 200 pixels */
    max-height: 200px; /* Limit the maximum height to 200 pixels */
}

@keyframes loading {
    from { width: 0; } /* Start loading animation with width 0 */
    to { width: 100%; } /* End loading animation with width 100% */
}

#center {
    text-align: center;
}

h1 {
    font-weight: bold;
    font-family: comic-sans, sans-serif;
}

@keyframes fade-in {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

/* Apply fade-in animation to loading container and content */
.fade-in {
    animation: fade-in 1s ease-in-out forwards;
}